.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 10vh;
  //   justify-content: center;

  &-logo {
    flex: 1;

    &-image {
      width: 40%;
    }
  }
  &-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-items {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $dark;
    &:hover {
      color: $secondary-color;
    }
  }
  &-burger-menu {
    display: none;
  }
}
